<a href="https://coursepress.lnu.se/courses/server-based-web-programming/assignment/A03" target="popup"> <img id="aboutimg" src="/img/HTML.jpg" style="max-width:100%;" alt = "HTML and Js"> </a>

<div style="margin-top: 10px; margin-bottom: 10px;">
     In this assignment, you will be writing a web application where you have to include real-time web technologies. 
     You should publish your application on a real (public) production server.
    The idea behind the application is that you should be able to list issues from a GitLab repository through the GitLab REST API and GitLab's Webhooks.
</div>     