<link rel="stylesheet" href="/style/profilestyle.css">
<div class="container mt-4" style="color:black;">
    <div class="card">
        <div class="card-header"> GitLab GUI </div>
        <div class="card-body">
            <div   class="card">
                <div style="background: white; border-radius: 10px;"  class="card-body">
                    <div  style="background: white;" class="avatar-ctn">
                        <img src="https://www.invicti.com/statics/img/drive/YKftKqikvChl-kcEjXarTg46EPXTZeXOa3X.png" class="avatar" alt="user profile picture"/>
                    </div>
                    <div id="list-example"  class="list-group">
                        <a style="text-align: center;" class="list-group-item list-group-item-action" href="/gitauth">Sign in using your GitLab API</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>