<div class="d-flex bd-highlight mb-3">
    <div class="me-auto p-2 bd-highlight">
        <h2>Create New Issue for project: {{project.name}} </h2>
    </div>
    <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-secondary" onclick="history.back()">Back</button>
    </div>
</div>
<div class="container mt-4" style="color:black;">
    <div class="card">
        <div class="card-header"> Create New Issue </div>
        <div class="card-body">
            <form action="/hook/postIssue" method="POST">
                <div class="mb-3">
                    <label for="snippetname" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title" aria-describedby="issueHelp">
                    <div id="issueHelp" class="form-text">Please enter the name of the issue.</div>
                </div>
                <div class="mb-3">
                    <textarea rows="4" cols="117" class="form-control" name="description" aria-describedby="descriptionHelp"></textarea>
                    <div id="descriptionHelp" class="form-text">Please enter the description.</div>
                </div>
                <button type="submit" class="btn btn-primary">Post Issue</button>
            </form>
        </div>
    </div>
</div>