<img id="frontimage" src="/img/server1.jpg" style="max-width:100%;" height="720" alt="Servers" />
<div style="margin-top: 10px; margin-bottom: 10px;"> This page will be used to for webprogramming assigments. 
    At the moment we can find a "CRUD Code Snippets page". 
    The application in Node.js will use Express as the application framework and Mongoose as the object modeling library. 
    The application must have full CRUD functionality regarding snippets, whereby a user must be able to create, read, update and delete snippets.
</div>
<script src="/script/indexScript.js" defer></script>