<div class="container mt-4" style="color:black;">
  <div class="card">
      
    <div class="card-header"> Register Form </div>

    <div class="card-body">

      <form action="/register" method="POST">

            <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="nameHelp">
            <div id="nameHelp" class="form-text"></div>
            </div>

            <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp">
            <div id="passwordHelp" class="form-text">Please choose a safe password.</div>
            </div>

            <div class="mb-3">
            <label for="passwordConfirm" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" aria-describedby="passwordCHelp">
            <div id="passwordCHelp" class="form-text">Re-enter password.</div>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>

      </form>

    </div>
  </div>
</div>