<footer>
  <hr>
    <p>©2022 Sami Mwanje &nbsp; 
        <a id="footerlink" href="https://lnu.se/en/meet-linnaeus-university/Organisation/faculty-of-technology/" target="_blank" rel="noopener noreferrer">
            Linnaeus University
        </a>
        <br> Contact: mm223kk@student.lnu.se
    </p>
</footer>